/* .container{
    margin:0 ;
    padding:0;


}


.sidebar{
    position: absolute;
    width: 300px;
}
.chat{
    position:absolute;

} */

.logo {
    position: absolute;
    top: 0;
    right: 0;
  
  display: flex;
  align-items: center;
  
  
}

.logo p {
 
  margin-right: 10px;
  font-size:2em;
  font-weight:bold;
}